nav {
  background: #DC143C;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  background-color: #3060d1;
  color: #FFFFFF;
}

#container {
  text-align: right; /* Align content to the right */
}

#sidebar {
  width: 200px;
  background-color: #f0f0f0;
  display: inline-block; /* Display the sidebar as inline-block */
}

#sidebar-container {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  background-color: #ddd;
}
