nav {
  background: #DC143C;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  background-color: #3060d1;
  color: #FFFFFF;
}

div {
  text-align: right;
